In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Read In FY2017 and FY2018 Data

## FY2017 Year-to-Date

In [ ]:
data_2017_ytd = pd.read_excel('./FY17 YTD BUD REPORT AS OF PER 13.xlsx')

In [ ]:
data_2017_ytd.head()

In [ ]:
data_2017_ytd['DEPARTMENT'].value_counts()

In [ ]:
data_2017_ytd.shape

In [ ]:
data_2017_ytd.isnull().sum()

In [ ]:
data_2017_ytd.dtypes

## FY2017 Detailed History

In [2]:
data_2017_detailed = pd.read_excel('./FY17 DETAIL HISTORY TB AS OF PERIOD 13.xlsx')

In [3]:
data_2017_detailed.head()

,ORG,ACCOUNT,ACCOUNT DESC,YR/PR,JNL,EFF DATE,SRC,REF1,REF2,REF3,CHECK #,OB,JOURNAL AMOUNT,SOY BALANCE,NET LEDGER BALANCE,ORIGINAL BUDGET,REVISED BUDGET,NET BUDGET BALANCE
0,0,0000-000-104000-,CASH AND INVESTMENTS-TREASURER,17/,5,07/01/16,SOY,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
1,0,0000-000-169000-,DUE FROM GENERAL FUND,17/,5,07/01/16,SOY,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
2,0,0000-000-202000-,ACCOUNTS PAYABLE,17/,5,07/01/16,SOY,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
3,0,0000-000-231000-,DUE TO GENERAL FUND,17/,5,07/01/16,SOY,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
4,0,0000-000-258000-,MISCELLANEOUS LIABILITIES,17/,5,07/01/16,SOY,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN

## Exploratory Data Analysis

In [ ]:
data_2017_detailed['ACCOUNT'].value_counts()

In [ ]:
data_2017_detailed['ORG'].value_counts()

In [ ]:
data_2017_detailed[data_2017_detailed['ACCOUNT'] == ('0000-000-104000-')]

In [ ]:
data_2017_detailed[['ACCOUNT']].filter(items='184', axis=0)

In [ ]:
data_2017_detailed[data_2017_detailed['ACCOUNT'].str.contains([dept_list]) == False]

In [ ]:
dept_list = ['111',
             '121',
             '122',
             '125',
             '127',
             '135',
             '138',
             '140',
             '141',
             '145',
             '151',
             '161',
             '162',
             '165',
             '171',
             '176',
             '182',
             '184',
             '210',
             '211',
             '220',
             '230',
             '241',
             '244',
             '291',
             '295',
             '300',
             '420',
             '521',
             '522',
             '524',
             '525',
             '541',
             '543',
             '549',
             '590',
             '610',
             '650',
             '710',
             '751',
             '752',
             '900',
             '911'
            ]

In [ ]:
inact_accounts_df = data_2017_detailed[~data_2017_detailed.ACCOUNT.isin(dept_list)]

In [ ]:
inact_accounts_df.shape

In [ ]:
dept_list = [111,
             121,
             122,
             125,
             127,
             135,
             138,
             140,
             141,
             145,
             151,
             161,
             162,
             165,
             171,
             176,
             182,
             184,
             210,
             211,
             220,
             230,
             241,
             244,
             291,
             295,
             300,
             420,
             521,
             522,
             524,
             525,
             541,
             543,
             549,
             590,
             610,
             650,
             710,
             751,
             752,
             900,
             911
            ]

In [ ]:
data_2017_detailed['ACCOUNT DESC'].value_counts()

In [ ]:
data_2017_detailed.shape

In [ ]:
data_2017_detailed.isnull().sum()

In [ ]:
data_2017_detailed.dtypes

## FY2018 Year-to-Date

In [ ]:
data_2018_ytd = pd.read_excel('./FY18 YTD BUD REPORT AS OF 10_19 PER 13.xlsx')

In [ ]:
data_2018_ytd.head()

In [ ]:
data_2018_ytd.shape

In [ ]:
data_2018_ytd.isnull().sum()

In [ ]:
data_2018_ytd.dtypes